html
    head
        title= 'Сборка'
        link(href='/static/style.css', rel='stylesheet')
    body
        a(href='/')= 'Список сборок'
        h1= 'Команда'
        div= data.command

        h1
            span(class="status") Статус
            img(src='/static/img/' + data.status + '.svg', width='25px', height='25px')


        h1= 'Время завершения'
        pre= finish

        h1= 'Stdout'
        pre= data.stdout

        h1= 'Stderr'
        pre= data.stderr