html
    head
        title= 'Сборка'
        a(href='/')= 'Список сборок'
    body
        h1= 'Сборка'

        table
            tr
                td= data.id
                td= data.command
                td= data.status